/*Global styles */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color:white;
    margin: 0;
    padding: 0;

}

:root {
    --main-color: #FBC403;
    --hover-main: #D9AB09;
    --margin-standard: 0px 20px 0px 20px;
}

main {
    top: 81.2px;
    position: relative;
    background-image: url(/assets/background-image-dark.webp);
    animation-duration: 10s;
    animation-name:  space;
    animation-iteration-count: infinite;
    overflow: hidden;
}


#active {
    color:var(--main-color);
}

#blogpost-active {
    color: var(--main-color);
    background:none;
    font-weight: 500;
}

.header-container {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
}

.header-container h1, .header-container p {
    display:flex;
    justify-content: center;
    margin: 0 auto;
}

.header-container h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}

.header-container p {
    color: white;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
}

.loader-wrapper {
    width: 100%;
    height: 100vh;
    z-index: 999999;
    position: absolute;
    top: -1%;
    background-color: black;
    display:flex;
    justify-content: center;
}

.loader {
    border: 15px solid white; /* Light grey */
    border-top: 15px solid var(--main-color); /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    display: flex;
    position: absolute;
    top: 300px;
    display:flex;
    z-index: 999999;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



/*Navbar styles */

nav {
    display:flex;
    width: 100%;
    max-width:100%;
    justify-content: space-around;
    position: fixed;
    margin: auto;
    z-index: 999;
    top: 0;
}

nav label {
    margin: 0 40px 0 0 ;
    font-size: 26px;
    line-height: 70px;
    color: var(--main-color);
    padding-right: 15px;
    display:none;
}

#toggle {
    display:none;
}

nav label:hover {
    color: white;
    cursor: pointer;
}

.logo, .navlogo {
    display:flex;
    align-items: center;
    justify-content: center;
}

.navlogo {
    flex:1;
    margin-left: 10px;
}

.logo a, .navlogo a{
    font-size: 30px;
    text-decoration: none;
    text-transform: lowercase;
    color:white;
}

.logo span, .navlogo span{
    color: var(--main-color)
}

.navbar {
    text-align: right;
    height: 81.2px;
    flex: 1;
}

.menu {
    list-style-type: none;
    display: flex;
    margin: 0 30px 0 0;

}

.navbar a {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    margin: 0 10px;
    padding: 10px 20px;
    line-height: 70px;
}

.navbar a:hover {
    color: var(--main-color)
}

.navbar span {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: black;
    font-weight: 600;
}

.navbar span:hover {
    background-color: var(--hover-main)
}


/* Latest posts styles */

.latest-posts {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    background-color: #161616;
    position: relative;
}

.latest-posts-wrapper {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.latest-posts-item  {
    width: 300px;
}

.previous, .next {
    padding: 15px 15px;
    color: black;
    background-color: var(--main-color);
    cursor:pointer;
 }

 .previous:hover, .next:hover {
    background-color: var(--hover-main);
 }

 .buttons-and-content {
     display:flex;
     align-items: center;
 }

 .previous img, .next img {
     height:20px;
     width:20px;
 }

.previous {
    margin-left: 10px;
}

.next {
    margin-right: 10px;
}



/* Welcome-screen styles */

.home-wrapper, .about-wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    animation-duration: 10s;
    animation-name:  space;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.home-wrapper {
    background-image: url(/assets/background-image-dark.webp);
}

.about-wrapper {
    background-image: url(/assets/aboutus-picture.jpg);
}


@keyframes space {
        0%   {background-position-x: 0px;}
        50%  {background-position-x: -30px;}
        100% {background-position-x: 0px;}
}


.welcome-screen {

    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-text {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text h1 {
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    color:var(--main-color);
    position: relative;
    animation-name: heading;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes heading {
    0%   { left:0px; top:0px;}
    50%  {left:100px; top:0px;}
    100% {left:0px; top:0px;}
}

.welcome-text h1::before {
    position: absolute;
    content: "";
    background-color: var(--main-color);
    height: 45px;
    width: 10px;
    left: -25px;
    top: 10px;
}

.welcome-text h1 span {
    color:white;
    margin-left: 50px;
    font-size: 60px;
    font-weight: 500;

}





/* Subscribe banner styles */

.subscribe-banner {
    height: 400px;
    width: 100%;
    background-image: url(/assets/subscribe_picture.jpg);
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.subscribe-banner_title {
    font-size: 50px;
    font-weight: 500;
    margin: 0 auto;
}

.subscribe-banner p {
    max-width: 550px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;

}

.subscribe-email-input {
    max-width: 600px;
    width: 100%;
    height: 40px;
    border: 1px black;
    margin: var(--margin-standard)
}

.subscribe-button {
    outline:none;
    cursor: pointer;
    padding: 10px 40px;
    background-color: var(--main-color);
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    border:none;
}

.subscribe-button:hover {
    background-color: var(--hover-main);
}

/* Blogpost-card styles */

.blogpost-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;


}

.card, .featuredCard, .caro-card {
    color:rgb(255, 255, 255);
    max-width: 250px;
    display:flex;
    flex-direction: column;  
}


.featuredCard {
    margin: 0px 20px;
}

.featuredCard img {
    filter: grayscale();
}

.featuredCard:hover {
    filter:none;
}

.card, .caro-card {
    height: 380px;
    margin: 20px 20px 60px 20px;
}

.caro-card {
    flex:1
}

.card-button:hover {
    transform: scale(1.1);
}
.card-image:hover {
    filter: none;
}

.card-image {
    height: 160px;
    width: 100%;
    position: relative;
}





.image-link {
    height: 160px;
    position: relative;
    display:block;

}
.image-link:after {
    content: "";
    position: absolute;
    display:block;
    height: 20px;
    width: 100%;
    background-color: var(--main-color);
    bottom: 0px;

}

.card-yellow {
    height: 20px;
    background-color: var(--main-color);
}

.card-h2{
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;

}

.date {
    color:var(--hover-main);
    font-size: 12px;
    margin-top: 5px;
}



.card-p {
    height: 80px;
    margin: 0px;
    font-weight: 200;
    font-size: 13px;
    color:#bbbbbb
}

.card p, .caro-card p {
    margin:0;
}
.card-button {
    color: black;
    background-color: var(--main-color);
    width: 120px;
    padding: 7px 12px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.showmore {
    justify-content: center;
    display:flex;
    margin-top: 50px;
    margin-bottom: 100px;
}
.showmore p {
    font-size: 20px;
    padding: 15px 50px;
    background-color: var(--main-color);
    color: black;
}

.showmore p:hover {
    background-color: var(--hover-main);
    cursor: pointer;
}
/*Article-page styles */

.content-wrapper {
    display:flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:black;
    padding-bottom: 100px;

}

.back-button {
display:flex;
width: 800px;
margin: 30px 0px 20px 0px;
font-size: 12px;
text-transform: uppercase;
}

.back-button span {
    color:#8B731D;
}

.back-button a{
    color:black;
    text-decoration: none;
}

.back-button a:hover {
    color:#bbbbbb;
    cursor:pointer;
}

.article-container {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-info {
    width:100%;
    max-width: 800px;
    display:flex;
    justify-content: left;
    margin-top: 10px;
    font-size: 14px;
}
.article-info span {
    color: #8B731D;
}

.article-image {
    width: 100%;
    max-width: 800px;
    height: 300px;
    object-fit: cover;
}

.modal-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.article-image:hover {
    cursor:pointer;
}

.article-header {
    font-size: 60px;
    font-weight: 800;
    margin-top: 10px;
    width: 100%;
    max-width: 800px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbbbbb;
}

.article-intro, .article-text {
    font-size: 20px;
    letter-spacing: 0.05em;
    width: 100%;
    max-width: 800px;
    
}

.article-text {
    font-weight: 200;
    line-height: 1.5;
}

.article-intro { 
    font-weight: 800;
    line-height: 1.5;
}

.modal {
    position: absolute;
    top:0;
    max-width: 100%;
    width:100%;
    height: 100%;
    margin:0 auto;
    background-color:rgba(0, 0, 0, 0.7);
}

.hidden {
    display:none;
}

.modal-content {
    background-color: #ffffff;
    color:rgb(0, 0, 0);
    height: 500px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    max-width: 900px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.close-button {
    align-items: right;
}


.featured-wrapper {
    width: 100%;
    height: 400px;
    background-color: #161616;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured-h2, .latestposts-h2 {
    margin-bottom: 40px;
    margin-top: 0;
    color:var(--main-color);
    font-weight: 300;
}
.featured-h2 span, .latestposts-h2 span {
    color: white;
}

.featured-container {
    display:flex;

}


/* About us page */

.about-h1 {
    font-size:  40px;
    font-weight: 500;
    margin: 0;
}

.about-p {
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
}

@keyframes jump {
    0% { transform: translate(-5%, -50%) scale(1.1, 0.85); }
    50% { transform: translate(-5%, -120%) }
    55% { transform: translate(-5%, -120%) }
    60% { transform: translate(-5%, -120%)  }
    65% { transform: translate(-5%, -120%) }
    70% { transform: translate(-5%, -120%)  }
    100% { transform: translate(-5%, -50%) scale(1.1, 0.85); }
}

.arrow-down {
    margin-top: 100px;
    padding:30px;
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.arrow-down:hover {
    cursor: pointer;
    filter: brightness(0.85);
}



.selling-point-wrapper {
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin: 20px 0px 0px 0px;
    
}

.selling-point {
    max-width: 300px;
    width:200px;
    height: 170px;
    background-color:#161616;
    display:flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selling-point:hover {
    cursor: pointer;
    transform:rotate(4deg)
}

.selling-point img {
width: 60px;
margin-bottom: 5px;
}

.selling-point p {
    color:white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}


.about-hero {
    height: 500px;
    width: 100%;
    display:flex;
    flex-direction: row;
    overflow: hidden;
}

.item-last {
    order: 2;
}

.picture1, .picture2, .picture3 {
    height: 600px;
    width: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    overflow: hidden;
}

.picture3 {
    background-image: url(/assets/whyreadblog.jpg);
}

.picture2 {
    background-image: url(/assets/weunderstood.jpg);
}

.picture1 {
    background-image: url(/assets/howitstarted.jpg);
}
.about-hero-item {
    width: 50%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.about-hero h2 {
    color:var(--main-color);
    font-size: 30px;
    margin: 0 30px 10px 30px;
    width: 420px;
}

.about-hero p {
    margin: 0 30px 0 30px;
   font-size: 20px;
   width: 420px;
   line-height: 1.5;
   letter-spacing: 0.05em;
}
/*Footer styles */

footer {
    max-width: 100%;
    height: 350px;
    background-color: #161616;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: var(--main-color);
    margin: 0px;
    font-size: 20px;
}

footer ul {
    list-style-type:none;
    text-align: left;
    padding: 0px;
}

footer li {
    margin-top: 12px;
}

footer li a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top:15px;
    font-size: 14px;
}

footer li a:hover {
    color: var(--main-color);
}

.footer-item, .footer-logo {
    display:flex;
    flex-direction: column;
    height: 200px;
    margin: 15px;

}

.footer-item {
    justify-content: top;
}

footer input {
    margin-top: 16px;
}

.footer-logo {
    justify-content: center;
}

.footer-subscribe {
    outline:none;
    cursor: pointer;
    padding: 5px;
    background-color: var(--main-color);
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    border:none;

}

.footer-subscribe:hover {
    background-color: var(--hover-main);
}


/* Contact page styles */

.form-section {
    position: relative;
    max-width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 250px;

}

.form-section h1, .form-section p {
    text-align: center;
    margin: 0px auto;
}
.theform {
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    color: white;
    margin: 0px auto;
}
  
  .formitem {
    display: flex;
    flex-direction: column;
  }
  .theform input,
  .theform button, textarea {
    width: 100%;
    font-size: 16px;
  }

  .theform input {
      height: 35px;
  }
  
  .formitem label {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    color: var(--main-color);
  }

  
  .formbutton {
    padding: 1em;
    margin-top: 10px;
    background-color: var(--main-color);
    border: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
  }
  
  .formbutton:hover {
    background-color: var(--hover-main);
  }
  
  .form-error {
    display:none;
    color: rgb(255, 0, 0);
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 3px;
  }



  @media only screen and (max-width:1010px) {

    .modal-content {
        height: 400px;
    }


    .welcome-text h1::before {
        height: 35px;
        width: 7px;

    }

    .article-header, .article-image, .back-button, .article-text, .article-intro, .article-info {
      max-width: 700px;
      width: 100%;
    }


    .about-hero {
        height:350px;
    }

    .about-hero h2 {
        font-size: 25px;
        max-width: 300px;
    }

    .about-hero p {
        font-size: 14px;
        max-width: 300px;
    }

    .header-container p, .about-p{
        max-width: 700px;
        text-align: center;

    }


    .buttons-and-content {
        position: relative;
    }

    .previous, .next {
        z-index: 9; 
        top: 50vh;
    }

    .next {
        right: 10px;
    }

    .previous {
        left: 10px;
    }


.latest-posts {
    height: 2000px;
}

.latest-posts-wrapper {
    flex-direction: column;
}


    nav label {
        display:block;
        width: 100%;
    }

    .menu {
        text-align: center;
        width: 100%;
        background-color: #161616;
        padding: 0;
        display:none;
        height: 100vh;
    }

    .menu li {
        border-bottom: lightgray;
    }
    .menu a {
        display: block;
        margin: 0;
        border-bottom: 1px solid rgb(48, 48, 48);
    }

    #toggle:checked + .menu {
        display:block;
    }


    .welcome-text h1 {
        font-size: 40px;
    }

    @keyframes heading {
        0%   { left:0px; top:0px;}
        50%  {left:70px; top:0px;}
        100% {left:0px; top:0px;}
    }
   
    .welcome-text h1 span {
        font-size: 50px;
    }


    @keyframes jump {
        0% { transform: translate(5%, -70%) scale(1.1, 0.85); }
        50% { transform: translate(5%, -110%) }
        100% { transform: translate(5%, -70%) scale(1.1, 0.85); }
    }



  }

  @media only screen and (max-width:768px) {

    .welcome-text h1::before {
        height: 30px;
        width: 5px;
        top: 5px;
    }

    .article-header, .article-image, .back-button, .article-text, .article-intro, .article-info {
        max-width: 600px;
      }

    .header-container p, .about-p{
        max-width: 600px;
    }

    .form-section {
        display: flex;
        padding-bottom: 80px;

    }

    .formitem {
        width: 90%;
        align-self: center;
    }

    .formitem label {
        font-size: 13px;
    }

    .formbutton {
        max-width: 300px;
        align-self: center;
    }


    .header-container h1, .about-h1{
        font-size: 40px;
    }


    .header-container p, .about-p{
        max-width: 500px;
    }

    .welcome-text h1 {
        font-size: 30px;
    }

    @keyframes heading {
        0%   { left:0px; top:0px;}
        50%  {left:60px; top:0px;}
        100% {left:0px; top:0px;}
    }
   
    .welcome-text h1 span {
        font-size: 40px;
    }


  }


  @media only screen and (max-width:637px) {


    .footer-item li, .footer-item {
        text-align: center;

    }
    .welcome-text h1::before {
        height: 25px;
        width: 5px;
        top: 2px;
        left: -17px;
    }

    .navlogo {
        margin:0px;
    }

    .navlogo a {
        font-size: 20px;
    }

    .navbar a {
        padding:0;
    }


    .featured-wrapper {
        height: 1200px;
    }

    .featured-container {
        flex-direction: column;
    }

    .featuredCard {
        margin: 20px 0 20px 0;
    }

    .article-header, .article-image, .back-button, .article-text, .article-intro, .article-info {
        max-width: 450px;
      }

      .article-header {
          font-size: 35px;;
      }

    .about-hero {
       flex-direction: column;
       align-items: center;
       height: 450px;
    }

    .about-hero p {
        margin: 5px 0 5px 0;
    }
    .about-hero-item {
        margin-top: 50px;
    }
    .picture1, .picture2, .picture3 {
        margin: 20px 0 50px 0;
        max-width: 300px;
        width: 100%;
    
    }

    .item-last {
        order:1;
    }


    .selling-point-wrapper {
        flex-direction: column;
    }

    .selling-point {
        margin:20px;
        flex:none;
        height: 100px;
        width: 100%;
        flex-direction: row;
    }

    .selling-point img {
        width:20px;
        margin-right: 10px;
    }

    .selling-point p {
        font-size: 25px;
    }

    .header-container p {
        max-width: 600px;
        font-size: 14px;
    }
    

    .subscribe-banner_title {
        font-size: 30px;
    }

    .subscribe-banner p {
        max-width: 400px;
    }
    .subscribe-email-input {
        max-width: 400px;
    }


    footer {
        flex-direction: column;
        height: 700px;
    }

    .welcome-text h1 {
        font-size: 25px;
    }

    @keyframes heading {
        0%   { left:0px; top:0px;}
        50%  {left:40px; top:0px;}
        100% {left:0px; top:0px;}
    }
   
    .welcome-text h1 span {
        font-size: 30px;
    }

}



@media only screen and (max-width:480px) {


    .previous, .next {
        padding: 10px 10px;
     }

    .caro-card {
        max-width: 210px;
    }

    .formitem input, .formitem textarea {
        font-size: 13px;
    }


    .welcome-text h1::before {
        width: 4px;
        top: 4px;
    }

    .article-header, .article-image, .back-button, .article-text, .article-intro, .article-info {
        max-width: 350px;
      }

      .article-header {
          font-size: 30px;
      }

    .formbutton {
        max-width: 200px;
    }
    .welcome-text h1 {
        font-size: 23px;
        
    }

    @keyframes heading {
        0%   { left:0px; top:0px;}
        50%  {left:10px; top:0px;}
        100% {left:0px; top:0px;}
    }
   
    .welcome-text h1 span {
        font-size: 24px;
        margin-left: 10px;
        line-height: 40px;
    }


    .subscribe-banner_title {
        font-size: 25px;
    }

    .subscribe-banner p {
        max-width: 300px;
    }
    .subscribe-email-input {
        max-width: 300px;
    }

    .header-container p, .about-p{
        margin: 10px;

    }

}


@media only screen and (max-width:350px) {

    .previous, .next {
        padding: 5px 5px;
     }


     .caro-card {
        max-width: 190px;
    }
}